:root {
    --color-bg: #17181A;
    --color-button-default: #303136;
    --color-button-blue: #005DB2;
    --color-button-gray: #616161;
    --color-blue-text: #29A8FF;
    --color-button-blue-text: #B2DAFF;
    --color-button-gray-text: #A5A5A5;
}